#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #EFEFEF;
    background-color: #171717;
    margin-top: 20px;
}

html{
    background-color: #171717
}

h1 {
    color: #DA0037
}

h3 {
    color: #EDEDED
}

button {
    background-color:#444444;
    color: #EDEDED;
    border: 1px solid #444444;
    border-radius: 3px;
    padding: 5px;
    margin-left: 1%;
    margin-right: 1%;
}

input{
    padding: 3px;
    background-color:#171717;
    color: #EDEDED;
    border: none;
    border-bottom: 2px solid #DA0037;
    border-radius: 2px;
}

input:focus {
    border-bottom: 2px solid #444444;
    outline: none;
  }


img {
    margin: -20px
}

div {
    padding: 1%;
}
.hidden {
    display: none;
}
