#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #EFEFEF;
    background-color: #171717;
    margin-top: 20px;
}

html{
    background-color: #171717
}

header {
    background-color:#444444;
    border-radius: 20px;
    padding: 10px
}

h1 {
    color: #DA0037
}

h3 {
    color: #EDEDED
}

button {
    background-color:#444444;
    color: #EDEDED;
    border: 1px solid #444444;
    border-radius: 3px;
    padding: 5px;
    margin-left: 1%;
    margin-right: 1%;
}

button:hover{
    background-color:#DA0037;
}

input{
    padding: 3px;
    background-color:#171717;
    color: #EDEDED;
    border: none;
    border-bottom: 2px solid #DA0037;
    border-radius: 2px;
}

input:focus {
    border-bottom: 2px solid #444444;
    outline: none;
}

textarea{
    padding: 3px;
    background-color:#171717;
    color: #EDEDED;
    border: none;
    border-bottom: 2px solid #DA0037;
    border-radius: 2px;
    width:300px;
}

textarea:focus {
    border-bottom: 2px solid #444444;
    outline: none;
}


img {
    margin: -20px
}

div {
    padding: 1%;
}

.hidden {
    display: none;
}

.nav-bar-space-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-bar-space-evenly{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container-column-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-container-column-space-evenly {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.OneItem{
    border-radius: 20px;
    width: 300px;
    height: 485px;
    margin: 30px;
    transition: all 0.3s;
    background-repeat: no-repeat;
    background-size: 340px 550px;
}

.OneItem:hover {
  background-color: #da0037c5; /* Tint color */
  background-blend-mode: multiply;
  border-radius: 0px;
}

.text{
    height:70px;
    margin-top: 435px;
    background-color: #000000;
    border: solid 3px #DA0037;
    transition: all 0.3s ease;
    border-radius: 15px;
}

.OneItem:hover .text {
    margin-top: 180px;
    height:305px;
    border: solid 5px #DA0037;
}

.OneItem:hover .text .hidden {
    display: block;
}

.price {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #DA0037;
}

.xname {
    
    font-size: 15px;
    color: #EDEDED;
}

.name {
    display: table;
    height: 60px;
    max-width: 190px;
}
  
.name span {
    display: table-cell;
    vertical-align: middle;
}

.description {
    max-height: 150px;
    padding: 10px;
    font-size: 15px;
    color: #EDEDED;
    overflow: auto; 
    text-align: justify;
}

.options {
    height: 300px;
    transition: all 0.7s;
}

.options ::-webkit-scrollbar{
    width: 5px;
}

.editor-container {
    background-color: #000000bb;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.editor {
    background-color: #171717;
    width: 50%;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 25px;
    border: 3px solid #DA0037
}

.editor img{
    height: 200px;
    width: 150px;
    margin: 20px;
}